<div class="row">
    <div class="col-3" (click)="showMenuItem()">
      <div class="card">
        <div class="card-body">
          <div class="card-icon">
            <i class="fas fa-utensils fa-2x"></i>
          </div>
          <div class="card-content">
            <h5 class="card-title">Food Items</h5>
            <p class="card-count">{{ foodItemCount }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="card-icon">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </div>
          <div class="card-content">
            <h5 class="card-title">Orders</h5>
            <p class="card-count">{{ orderCount }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="card-icon">
            <i class="fas fa-money-bill fa-2x"></i>
          </div>
          <div class="card-content">
            <h5 class="card-title">Payments</h5>
            <p class="card-count">{{ paymentCount }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="card-icon">
            <i class="fas fa-users fa-2x"></i>
          </div>
          <div class="card-content">
            <h5 class="card-title">Users</h5>
            <p class="card-count">{{ userCount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>